@import url(https://fonts.googleapis.com/css?family=PT+Mono);

body, html, #App {
    height: 100%;
}

.github-corner > svg {
    z-index: 100;
}

.rtl {
    text-align: right;
    direction: rtl;
}

.password {
    overflow-wrap: break-word;
    font-family: 'PT Mono', monospace;
    text-align: center;
}